server:
  port: 8082

spring:
  application:
    name: payment-service

  datasource:
    url: jdbc:postgresql://localhost:5432/PAYMENT-SERVICE
    username: postgres
    password: root

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

resilience4j:
  circuitbreaker:
    instances:
      certificate-service:
        slidingWindowSize: 10
        failureRateThreshold: 60
        waitDurationInOpenState: 10s
